<h2>Success!</h2>
<p>Your time: <%= session[:score] %> seconds.</p>
<p class="nav-links">
	<%= link_to "< Home", root_path, class: "fleft" %>
	<%= link_to "High Scores >", puzzle_scores_path(@puzzle), class: "fright" %>
</p>