<h1>High Scores</h1>
<h2><%= @puzzle.title %> (<%= @puzzle.difficulty %>)</h2>
<% if @scores.any? %>
<table>
	<thead>
		<tr>
			<th class="sname">Name</th>
			<th class="stime">Seconds</th>
		</tr>
	</thead>
	<tbody>
		<%= render @scores %>
	</tbody>
</table>

<% else %>
	<p style="text-align: center">No scores yet! <%= link_to @puzzle, "Play >" %></p>
<% end %>