/*MIXINS*/

@mixin box_sizing {
  -moz-box-sizing:    border-box;
  -webkit-box-sizing: border-box;
  box-sizing:         border-box;
}


/*GLOBAL*/

body {
  font-family: Helvetica, sans-serf;
}

img { max-width: 100%; }

h1, h2 { text-align: center; }

p { margin: 0; }

a { color: #b21834; }

.container {
  width: 1124px;
  margin: auto;
}

.nav-links { 
  max-width: 500px; 
  margin: 15px auto;
  &:after {
    content: " ";
    height: 0;
    display: block;
    clear: both;
  }
}

.fleft { float: left; }
.fright { float: right; }


/*INDEX*/

.puzzle-list { text-align: center; min-height: 400px; }

.puzzle {
  display: inline-block;
  img { display: block; border-radius: 5px 5px 0 0; border: 1px solid #b21834;}
  margin: 10px;
}

.info {
  a {
    display: block;
    text-decoration: none;
    background: #b21834;
    color: #fff;
    padding: 5px 10px;
    border-radius: 0 0 5px 5px; 
    border: 1px solid #b21834;
    text-align: left;
  }
  .diff { float: right; font-style: italic; }
}

.score-link {
  color: #999;
  font-size: 12px;
  margin-top: 5px;
}


/*PUZZLE*/

#board {
  float: left;
  width: 1000px;
  position: relative;

  .prompt {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    background: rgba(255,255,255,0.75);
    padding: 10px 15px;
    font-size: 18px;
    @include box_sizing;
  }

  .msg {
    position: absolute;
    display: none;
    top: 50%;
    left: 50%;
    padding: 5px 10px;
    background: #fff;
    border: 2px solid #b21834;
    border-radius: 5px;    
  }

  .select {
    display: none;
    position: absolute;
    background: #fff;
    border: 1px solid #b21834;
    border-radius: 5px;
    box-shadow: 2px 2px 5px rgba(0,0,0,0.75);
    width: 130px;
    h3 {
      border-radius: 4px 4px 0 0;
      background: #b21834;
      color: #fff;
      padding: 2px 5px;
      margin: 0;
      font-size: 16px;
    }
    .opt {
      display: block;
      padding: 2px 5px;
      text-decoration: none;
      color: #000;
      &:hover { background: #eee; }
      &:last-child { border-radius: 0 0 4px 4px; }
      &.found { display: none; }
    }
  }
}

.close { 
  font-weight: bold;
  text-decoration: none;
  float: right;
  color: inherit;
  margin-left: 10px;
}

.flag {
  background: rgba(255, 255, 255, 0.33);
  position: absolute;
  border: 3px solid red;
  border-radius: 100%;
  box-shadow: 0 0 5px #000;
}

/*TARGET LIST*/

#targets {
  float: left;
  margin-left: 20px;
  text-align: center;
  h2 { margin: 10px 0; }
  img {
    height: 116px;
    margin: 3px;
  }

  .target {
    width: 100px;
    margin-bottom: 10px;
    border: 1px solid #b21834;
    border-radius: 5px;

    .name {
      background: #b21834;
      color: #fff;
      padding: 2px;
      border-radius: 0 0 4px 4px;
    }

    &.found {
      border-color: #ccc;
      img { opacity: 0.5; } 
      .name { 
        background: #ccc; 
        &:before {
          content: "\2713";
          color: green;
          float: left;
           margin-left: 5px;
           margin-right: -15px;
        }
      }
    }
  }
}

/*SCORE BOX*/

#score {
  position: absolute;
  width: 400px;
  padding: 30px;
  background: #fff;
  border: 2px solid #b21834;
  border-radius: 10px;
  text-align: center;
  left: 0;
  right: 0;
  margin: auto;
  top: 200px;
  z-index: 10;
  h2 { margin-top: 0; }
  p { margin: 15px 0; }

  .nav-links {
    margin-bottom: 0;
    font-size: 12px;
  }
}


/* HIGH SCORES */

table { width: 500px; margin: auto; border: 1px solid #b21834; border-collapse: collapse; }
th, td { padding: 8px 12px; }

thead { color: #fff; background: #b21834; }

tr.even { background: #eee; }

td.sname, th.sname { text-align: left; }
td.stime, th.stime { text-align: center; }


/* FOOTER */

footer {
  padding-top: 20px;
  margin-top: 20px;
  border-top: 1px solid #ccc;
  font-size: 12px;
  color: #999;
  clear: both;
  text-align: center;
  a { color: #999; }
}
