/*MIXINS*/

@mixin box_sizing {
  -moz-box-sizing:    border-box;
  -webkit-box-sizing: border-box;
  box-sizing:         border-box;
}


/*GLOBAL*/

body {
  font-family: Helvetica, sans-serf;
}

img { max-width: 100%; }

h1 { text-align: center; }

p { margin: 0; }

.container {
  width: 1024px;
  margin: auto;
}


/*INDEX*/

.puzzle {
  display: inline-block;
  border: 1px solid #b21834;
  img { display: block; border-radius: 4px 4px 0 0; }
  border-radius: 5px;
}

.info {
  a {
    display: block;
    text-decoration: none;
    background: #b21834;
    color: #fff;
    padding: 5px 10px;
    border-raidus: 0 0 4px 4px; 
  }
  .diff { float: right; font-style: italic; }
}


/*PUZZLE*/

#board {
  float: left;
  width: 885px;
  position: relative;

  .prompt {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    background: rgba(255,255,255,0.75);
    padding: 10px 15px;
    font-size: 18px;
    @include box_sizing;
  }

  .select {
    display: none;
    position: absolute;
    background: #fff;
    border: 1px solid #b21834;
    border-radius: 5px;
    box-shadow: 2px 2px 5px rgba(0,0,0,0.75);
    width: 130px;
    h3 {
      border-radius: 4px 4px 0 0;
      background: #b21834;
      color: #fff;
      padding: 2px 5px;
      margin: 0;
      font-size: 16px;
    }
    .opt {
      display: block;
      padding: 2px 5px;
      text-decoration: none;
      color: #000;
      &:hover { background: #eee; }
      &:last-child { border-radius: 0 0 4px 4px; }
      &.found { display: none; }
    }
  }
}

.close { 
  font-weight: bold;
  text-decoration: none;
  float: right;
  color: inherit;
  margin-left: 10px;
}

.flag {
  background: rgba(255, 255, 255, 0.33);
  position: absolute;
  border: 3px solid red;
  border-radius: 100%;
  box-shadow: 0 0 5px #000;
}

/*TARGET LIST*/

#targets {
  float: left;
  margin-left: 20px;
  text-align: center;

  img {
    height: 150px;
    margin: 3px;
  }

  .target {
    width: 100px;
    margin-bottom: 10px;
    border: 1px solid #b21834;
    border-radius: 5px;

    .name {
      background: #b21834;
      color: #fff;
      padding: 2px;
      border-radius: 0 0 4px 4px;
    }

    &.found {
      border-color: #ccc;
      img { opacity: 0.5; } 
      .name { 
        background: #ccc; 
        &:before {
          content: "\2713";
          color: green;
          float: left;
           margin-left: 5px;
           margin-right: -15px;
        }
      }
    }
  }
}