<footer class="text-muted">
	<div class="col-md-12">
		<p>View the code on 
			<%= link_to "GitHub", "https://github.com/shasta28/wheres-waldo", target: "_blank" %>.
			<br>
			Built in Ruby on Rails and Ajax as part of <%= link_to "The Odin Project", "http://www.theodinproject.com/javascript-and-jquery/where-s-waldo-a-photo-tagging-app", target: "_blank" %>.
		</p>
		<br>
	</div>
</footer>